@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link href="~/Stylesheets/header.css" rel="stylesheet" />
        <link href="~/Stylesheets/pages.css" rel="stylesheet" />*@
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

        function fnAdminLogin() {
            $.post("/Login/AdminLogin", {"Username": document.getElementById("userID").value, "Password": document.getElementById("pswd").value }, function (data) {
                if (data.success) {
                    window.location.href = data.returnUrl;
                }
                else if (!data.success) {
                    alert(data.errorMessage);
                }
            }, "json");
            return false;
        }

</script>

@*</head>*@

@*<body>*@


<!--Page Title-->
<div class="page-title">
    <h1 class="page-name">ADMIN LOGIN</h1>
</div>
<!--End-->




<div id="login-form">
    <h1 class="page-heading">ADMIN LOGIN</h1>
    @*<p class="page-text">HAVING TROUBLE WHILE LOGIN? CLICK <a href="help.html">HERE</a></p>*@
    <div id="form-input">
        <ol>
            <br>
            <p>
                <input type="text" name="userid" placeholder="Username" id="userID">
            </p>
            <br>
            <p>
                <input type="password" name="adminpswd" placeholder="Password" id="pswd">
            </p>
            <br>

            <p><input type="submit" value="Login" id="data-send" onclick="fnAdminLogin();"></p>
        </ol>
    </div>
</div>


@*</body>
    </html>*@


